In [1]:
import pandas as pd

## 1. Load the File and Relevant Sheets

In [23]:
# Load Excel file
xls = pd.ExcelFile("occupation-visas-datasets-mar-2025.xlsx")

# Load application data with the correct header row
app_df = pd.read_excel(xls, sheet_name="Data_Occ_D01", header=3)
# Load Grants data with the correct header row
grant_df = pd.read_excel(xls, sheet_name="Data_Occ_D02", header=3)

app_df.head()

,Year,Quarter,Nationality,Region,Visa type,Visa type subgroup,Industry,Occ. major group,Occ. sub-major group,Occ. minor group,Occ. unit group,Applications
0,2021,2021 Q1,*,*,Worker,Health and Care Worker,Accommodation and Food Service Activities,2 - Professional Occupations,22 - Health Professionals,223 - Nursing Professionals,*,27
1,2021,2021 Q1,*,*,Worker,Health and Care Worker,Administrative and Support Service Activities,2 - Professional Occupations,22 - Health Professionals,223 - Nursing Professionals,*,8
2,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,3 - Associate Professional Occupations,"31 - Science, Engineering and Technology Assoc...","311 - Science, Engineering and Production Tech...",*,1
3,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,2 - Professional Occupations,22 - Health Professionals,222 - Therapy Professionals,*,4
4,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,2 - Professional Occupations,"21 - Science, Research, Engineering and Techno...",211 - Natural and Social Science Professionals,*,1

In [24]:
grant_df.head()

,Year,Quarter,Nationality,Region,Visa type,Visa type subgroup,Industry,Occ. major group,Occ. sub-major group,Occ. minor group,Occ. unit group,Grants
0,2021,2021 Q1,*,*,Worker,Health and Care Worker,Accommodation and Food Service Activities,2 - Professional Occupations,22 - Health Professionals,223 - Nursing Professionals,*,22
1,2021,2021 Q1,*,*,Worker,Health and Care Worker,Administrative and Support Service Activities,2 - Professional Occupations,22 - Health Professionals,223 - Nursing Professionals,*,8
2,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,3 - Associate Professional Occupations,"31 - Science, Engineering and Technology Assoc...","311 - Science, Engineering and Production Tech...",*,1
3,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,2 - Professional Occupations,22 - Health Professionals,222 - Therapy Professionals,*,2
4,2021,2021 Q1,*,*,Worker,Health and Care Worker,Education,2 - Professional Occupations,"21 - Science, Research, Engineering and Techno...",211 - Natural and Social Science Professionals,*,1

In [25]:
app_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34142 entries, 0 to 34141
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  34142 non-null  int64
 1   Quarter               34142 non-null  object
 2   Nationality           34142 non-null  object
 3   Region                34142 non-null  object
 4   Visa type             34142 non-null  object
 5   Visa type subgroup    34142 non-null  object
 6   Industry              34142 non-null  object
 7   Occ. major group      34142 non-null  object
 8   Occ. sub-major group  34142 non-null  object
 9   Occ. minor group      34142 non-null  object
 10  Occ. unit group       34142 non-null  object
 11  Applications          34142 non-null  int64
dtypes: int64(2), object(10)
memory usage: 3.1+ MB

In [27]:
app_df.isnull().sum()

Year                    0
Quarter                 0
Nationality             0
Region                  0
Visa type               0
Visa type subgroup      0
Industry                0
Occ. major group        0
Occ. sub-major group    0
Occ. minor group        0
Occ. unit group         0
Applications            0
dtype: int64

In [29]:
app_df.dtypes

Year                     int64
Quarter                 object
Nationality             object
Region                  object
Visa type               object
Visa type subgroup      object
Industry                object
Occ. major group        object
Occ. sub-major group    object
Occ. minor group        object
Occ. unit group         object
Applications             int64
dtype: object